<div class="row">
    <div class="col">

    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;" *ngIf="jsonDisplay">
            <img [src]="jsonDisplay.sprites.front_default" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{jsonDisplay.name}}</h5>
                    <p class="card-text">Pokemon Id: {{jsonDisplay.id}}</p>
            </div>
        </div>
    </div>
    <div class="col">

    </div>
</div>

<div class="row">
    <div class="col">

    </div>
    <div class="col-4">
        <input type="text" [(ngModel)]= 'inputField'>
        <button type="button" class="btn btn-success" (click) = 'firstButton()'>First Button</button>
    </div>
    <div class="col">

    </div>
</div>

<!--GOING TO USE THE POKEMON INTERFACE-->
<div class="container">
    <div class="row">
        <div class="col">
    
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;" *ngIf="pokemonInterfaceDisplay">
                <img [src]="pokemonInterfaceDisplay.sprites.front_default" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{pokemonInterfaceDisplay.name}}</h5>
                        <p class="card-text">Pokemon Id: {{pokemonInterfaceDisplay.id}}</p>
                </div>
            </div>
        </div>
        <div class="col">
    
        </div>
    </div>
    
    <div class="row">
        <div class="col">
    
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]= 'inputField2'>
            <button type="button" class="btn btn-success" (click) = 'secondButton()'>Second Button</button>
        </div>
        <div class="col">
    
        </div>
    </div>
</div>
